@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto+Mono&family=Roboto:wght@100;300;400;500;900&display=swap');

html {
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    background-color: #A7A2A9;
    font-family: 'Roboto Mono', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    padding: 30px 0;
    font-size: 5rem;
    color: #08090A;
}

.info-line {
    padding: 20px 0;
    font-size: 2rem;
    color: #575A5E;
}

.game-board {
    border: 3px solid #08090A;
    border-radius: 5px;
    background-color: #F4F7F5;
    margin: 30px 0;
    height: 42vh;
    width: 42vh;
    display: grid;
    grid-template-columns: 14vh 14vh 14vh;
    grid-template-rows: 14vh 14vh 14vh;
}

.game-square {
    border: 1px solid #222823;
    font-size: 5rem;
    text-align: center;
}

.score-line {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    gap: 5vw;
}

.right-score,
.left-score {
    font-size: 2rem;
}